.matero-header {
  --mat-toolbar-container-background-color: transparent;

  position: relative;
  z-index: 200;
  display: block;
  background-color: var(--header-background-color);
  backdrop-filter: blur(8px);
}

.top-bar {
  top: 10px;
  right: 20px;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

