<mat-card class="mat-elevation-z2" style="margin-top: 2rem">
  <h2 class="title">📋 Entidades registradas</h2>
  <table mat-table [dataSource]="entidades" class="mat-elevation-z1 full-width-table">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let item">{{ item.code }}</td>
    </ng-container>

    <ng-container matColumnDef="entitiName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let item">{{ item.entitiName }}</td>
    </ng-container>

    <ng-container matColumnDef="entitiNit">
      <th mat-header-cell *matHeaderCellDef>NIT</th>
      <td mat-cell *matCellDef="let item">{{ item.entitiNit }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let item">{{ item.description }}</td>
    </ng-container>

    <ng-container matColumnDef="entitiAddress">
      <th mat-header-cell *matHeaderCellDef>Dirección</th>
      <td mat-cell *matCellDef="let item">{{ item.entitiAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Accioness</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="accent" (click)="edit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'code',
        'entitiName',
        'entitiNit',
        'description',
        'entitiAddress',
        'actions',
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['code', 'entitiName', 'entitiNit', 'description', 'entitiAddress', 'actions']
      "
    ></tr>
  </table>
</mat-card>
