<app-loading-overlay [isLoading]="isEntitiLoading"></app-loading-overlay>
<div class="modal-overlay">
  <div class="modal-content">
    <div #pdfContent class="pos-ticket">

      <div style="text-align: center">
        <div style="text-align: center">
          <h3 style="margin: 0">{{ entitiConfig?.entitiName || 'Empresa' }}</h3>
          <p style="margin: 0">NIT: {{ entitiConfig?.entitiNit }}</p>
          <p style="margin: 0">{{ entitiConfig?.entitiAddress }}</p>
          <p style="margin: 0">Tel: {{ entitiConfig?.entitiPhone }}</p>
          <hr />
        </div>
      </div>

      <p>
        <strong>Factura:</strong>
        {{ invoice?.invoiceNumber }}
      </p>
      <p>
        <strong>Fecha:</strong>
        {{ invoice?.issueDate | date: 'short' }}
      </p>
      <p>
        <strong>Cliente:</strong>
        {{ invoice?.clientName }}
      </p>

      <hr />
      <table style="width: 100%; font-size: 11px">
        <thead>
          <tr>
            <th style="text-align: left">Prod</th>
            <th style="text-align: center">Cant</th>
            <th style="text-align: right">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of invoice?.details">
            <td>{{ item.productName }}</td>
            <td style="text-align: center">{{ item.quantity }}</td>
            <td style="text-align: right">
              {{ item.unitPrice * item.quantity | currency: '' : 'symbol' : '1.0-0' }}
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <div class="totals-block">
        <div class="row p-2">
          <strong>Subtotal:</strong>
          <span>{{ invoice?.subtotalAmount | currency: '' : 'symbol' : '1.0-0' }}</span>
        </div>
        <div class="row">
          <strong>Impuesto:</strong>
          <span>{{ invoice?.taxAmount | currency: '' : 'symbol' : '1.0-0' }}</span>
        </div>
        <div class="row">
          <strong>Total:</strong>
          <span>{{ invoice?.totalAmount | currency: '' : 'symbol' : '1.0-0' }}</span>
        </div>
        <div class="row">
          <strong>Pago:</strong>
          <span>{{ invoice?.paymentMethod }}</span>
        </div>
      </div>

      <div style="text-align: center">
        <p>Gracias por su compra</p>
        <p></p>
        <p>
          Factura generada y emitida por Inventario App v1.0.0 bajo modalidad de
          software propio para {{entitiConfig?.entitiName}} Software: Sistema Inventario App Fabricante del
          Software: MACS S.A.S. 3166034064
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="download()">📥 Descargar</button>
      <button mat-stroked-button color="warn" (click)="onClose()">❌ Cerrar</button>
      <button mat-raised-button color="primary" (click)="print()">🖨️ Imprimir</button>
    </div>
  </div>
</div>
