@use '../../../../styles/helpers/api' as *;

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

mat-card {
  padding: 1rem;
  margin: 2rem;
}

mat-table {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  flex: 1;
  min-width: 250px;
}

.btn-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-left: auto;
}

.full-width-table {
  width: 100%;
  margin-top: 24px;
}

mat-chip.chip-disabled {
  color: #333;
  background-color: #ccc;
}

.chip-activo {
  color: white;
  background-color: #4caf50;
}

.payment-panel {
  position: absolute;
  top: 80px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

.payment-panel .total-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 24px;
  color: white;
  text-align: center;
  background-color: #4caf50;
  border-radius: 8px;
}

.payment-panel .total-amount .amount-icon {
  margin-right: 8px;
}

.payment-methods-wrapper {
  display: inline-block;
  max-width: 350px;
  padding: 20px;
  margin: 1rem 0;
  background-color: #f1f3f6;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.payment-methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.payment-methods button.selected-method {
  box-shadow: 0 0 6px 2px rgba(25, 118, 210, 0.8);
  transform: scale(1.03);
}

.payment-methods button {
  width: 120px;
  height: 40px;
  padding: 6px 14px;
  font-size: 15px;
  border-radius: 10px;
}

.total-amount {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 24px;
  font-size: 24px;
  color: white;
  background-color: #4caf50;
  border-radius: 8px;
}

.amount-icon {
  font-size: 32px;
}

mat-form-field.field {
  margin-bottom: 0.5rem;
  font-size: 13px;
}

mat-form-field.field .mat-form-field-wrapper {
  padding-bottom: 0;
}

mat-form-field.field .mat-form-field-infix {
  min-height: 32px;
  padding: 4px 0 !important;
}

.total-display-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%; // ocupa todo el contenedor
  max-width: 300px; // ajusta según tu diseño
  min-height: 60px; // menos alto
  padding: 0.5rem 1.5rem; // más angosto (menos padding vertical)
  font-weight: bold;
  color: #2e7d32;
  background-color: #e8f5e9;
  border-left: 6px solid #4caf50;
  border-radius: 5px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);

  .total-label {
    font-size: 13px;
    color: #555;
  }

  .total-value {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 22px;
  }
}

.mat-calendar-body-cell-content {
  color: rgba(0, 0, 0, 0.87); // o el color que desees ver
}

.mat-calendar-body-disabled > .mat-calendar-body-cell-content {
  color: rgba(0, 0, 0, 0.38);
}

::ng-deep .custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 8px;
}
.status-badge {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 5px;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
  cursor: default;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &.active {
    background-color: #388e3c; // Color verde para estado "Activa"
    transform: scale(1.05); // Efecto de escala para resaltar
  }

  &.cancelled {
    background-color: #d32f2f; // Color rojo para estado "Cancelada"
    transform: scale(1.05); // Efecto de escala para resaltar
  }

  &:hover {
    transform: scale(1.1); // Efecto hover para resaltar al pasar el mouse
  }

  @media (max-width: 768px) {
    font-size: 12px; // Reducir el tamaño en pantallas pequeñas
    padding: 6px 12px;
  }
}

